@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--ring: 0 0% 63.9%;
}

html, body {
	font-family: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
}

/* smooth theme transitions */
.theme-transition * {
	transition: background-color 200ms ease, color 200ms ease, border-color 200ms ease, fill 200ms ease;
}
